@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* { /* Todos os elementos */
    padding: 0;
    margin: 0;
    
    font-family: Raleway, Calibri, Arial, sans;
    font-size: 16px;
    /* Faz com que bordas e margens sejam considerados no tamanho total do elemento */
    box-sizing: border-box;
    
}

:root {
    --cor-primaria: #550000;
    --cor-secundaria: #baa5a5;
    --cor-terceira: #c16c6c;
    --cor-fundo-claro:#c6c4c4;
    --cor-escuro: #666666;
    --cor-texto-claro: #fff;
   
}

a {
    color: var(--cor-primaria);
    text-decoration: none; 
}

html {                  /* Tamanho de fonte padrão do documento */
    font-size: 16px;
}
header{
    background-color: var(--cor-secundaria) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header > img {
    width: 11%;
    max-width: 100%;
}

#logo {
    height: 140px;
}

#social {
    display: flex;
    flex-direction: row;
}
#social a{
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
#social a span {
    margin-left: 6px;
    display: none;
}

#social a:hover span{
    display: inline;
}

#social img{
    height: 45px;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

#menu {
    background-color: var(--cor-terceira);
    text-align: center;
}

#menu ul li{
    padding: 10px;
    display: inline-block;
    
}

#menu ul li a {
    background-color: var(--cor-terceira);
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 20px;
    height: 100%;
}
#menu li a:hover {
    filter: brightness(0.8);
    
}

#menu-contraido {
    display: inline-block;
    position: relative;
}

#menu-contraido input, #menu-contraido span {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}

#menu-contraido input {
    z-index: 100;
    opacity: 0;
    display: none;
}

#menu-contraido span {
    display: block;
    background-color: var(--cor-secundaria);
    border-radius: 4px;
    background-image: url('/img/menu-icon-48x48.png');
    background-size: 40px 40px;
    background-position: center center;
    cursor: pointer;
    display: none;
}

#menu-contraido input:checked ~ span {
    background-image: url('/img/close-icon-48x48.png');
}

#content {
    background-color: var(--cor-fundo-claro);
    padding: 20px;
    display: flex;
    flex-direction: row;
}
#area-conteudo {
    width: 63%;
}

.destaque {
    background-color: #ffe9e9;
    padding: 12px;
    border-radius: 4px;
}

.destaque > p {
    color: #000000;
}

.title-destaque {
    margin: 12px 0;
}

.individual h1 {
    color: var(--cor-primaria);
    font-size: 2.5rem;
    margin: 12px 0;
}

.individual p {
    font-size: 1.1rem;
    margin-bottom: 12px;
}

.individual img {
    border-radius: 4px;
}

.individual .foto-texto p {
    margin: 12px 0 36px 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.individual .foto-texto {
    flex-direction: column;
}

.individual .foto-texto img {
    margin-left: auto;
    margin-right: auto;
}

main,aside {
    background-color: var(--cor-texto-claro);
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    flex-grow: 1;   /* 1 unidade de largura (padrão) */
    max-width: 100%;
}

main article {
    margin: 12px 0;
}

#area-conteudo article h1{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#area-conteudo article img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

#area-conteudo article p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#area-conteudo article p a{
    text-decoration: none;
    color: blue;

}

#area-conteudo article p a:hover{
    filter: brightness(0.8);
}

article > h1 > a {
    font-size: 1.5rem;
    display: inline-flex;
}

article > h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
}

article > h1 {
    font-size: 1.5rem;
}

.body-article {
    text-align: initial; 
    display: flex;  
}

main > h1 {
    text-transform: uppercase;
}

aside {
    margin-left: 10px;
    width: 37%;
    background-color: var(--cor-escuro);
}

footer {
    background-color: var(--cor-terceira);
    padding: 24px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer a {
    color: #fff;
}

footer ul li {
    display: inline-block;
    padding: 0 12px;
    border-right: 2px solid;
}

footer ul li:last-child {
    border-right: none;
}

footer img {
    width: 105px;
    height: 100%;
}


@media screen and (max-width: 1020px) {
    main {
        width: 60%;
    }
    aside {
        width: 40%;
    }
    header > img {
        width: 17%;
        max-width: 100%;
    }
}

@media screen and (max-width: 800px) {
    header > img {
        width: 25%;
        max-width: 100%;
    }
    #menu {
        min-height: 88px;
        text-align: initial;
        padding: 0;
    }
    #menu ul {
        margin-top: 50px;
        margin-left: -35px;
    }
    #menu a {
        width: 100%;
        display: block;
    }
    #menu-contraido ul {
        display: none;
    }

    #menu-contraido input, #menu-contraido span {
        display: block;
    }

    #menu-contraido input:checked ~ ul {
        display: block;
    }

    #menu-contraido {
        display: table-caption;
        margin-left: 15px;
        width: 200px;
        margin-top: 24px;
    }
    #menu ul li {
        display: block;
    }
    #content {
        flex-direction: column;
    }
    main {
        width: 100%;
        max-width: 100%;
    }
    aside {
        width: 100%;
        margin-left: 0;
    }
    #area-conteudo {
        width: 100%;
        max-width: 100%;
    }
    footer {
        flex-direction: column;
    }
    footer > * {
        margin-bottom: 12px;
    }

    footer ul li:first-child {
        padding-left: 0;
    }

    footer address {
        text-align: right;
    }
}


@media screen and (max-width: 640px) {
    #menu {
        min-height: 60px;
    }
    header > img {
        width: 25%;
        max-width: 100%;
    }
    header {
        flex-direction: column;
        align-items: center;
    }

    #social img {
        height: 35px;
    }

    #menu-contraido input, #menu-contraido span {
        width: 40px;
        height: 40px;
        position: absolute;
        top: -13px;
        left: 0;
    }

    header img {
        max-width: 100%;
    }

    .destaque > h1 > a {
        font-size: 2rem;
    }
}
